@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Swiper Stillerini Özelleştirme */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; /* Okların rengi */
  background-color: rgba(0, 0, 0, 0.3);
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important; /* Ok ikonlarının boyutu */
  font-weight: 600;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.7) !important; /* Pasif noktaların rengi */
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important; /* Aktif noktanın rengi */
}